<a href="https://colab.research.google.com/github/Bindusri2294/k-hub-daily-tasks/blob/main/k_hub_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')
print("bindu")

hello
bindu

In [ ]:
a="python is easy"
x=a.capitalize()
print(x)

Python is easy

In [ ]:
a="19 is my age"
x=a.capitalize ()
print (x)

19 is my age

In [ ]:
a="Hello Welcome To My World "
x=a.casefold()
print (x)

hello welcome to my world

In [ ]:
a="banana"
x=a.center(20,"0")
print(x)

0000000banana0000000

In [ ]:
a="bindusri"
x=a.count("u")
print (x)

1

In [ ]:
a=("Hello welcome to my world ")
x=a.endswith("my ")
print (x)

False

In [ ]:
a=("I love python")
x=a.index("lo")
print(x)

2

In [ ]:
a=("this is book")
x=a.startswith("this")
print (x)

True

In [ ]:
a = True
b = False

print(type(a))

<class 'bool'>

In [ ]:
x = 10
y = 20

print(x == y)
print(x != y)
print(x < y)

False
True
True

In [ ]:
x = 5
print(x > 2 and x < 10)
print(x > 2 and x > 10)

True
False

In [ ]:
x = 5
print(not(x > 2 and x < 10))

False

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [ ]:

bool(False)
bool(None)
bool(0)
bool("")
bool([])
bool({})

False

In [ ]:
print(bool("Hello"))
print(bool([1, 2, 3]))

True
True

In [ ]:
x = 5
print(x > 2 or x < 3)
print(x < 2 or x > 10)

True
False

In [ ]:
my_list = [10, 20, 30, 20]
print(my_list)
my_list[0] = 100
print(my_list)

[10, 20, 30, 20]
[100, 20, 30, 20]

In [ ]:
my_list.append(40)
my_list.remove(20)
my_list.sort()

In [ ]:
my_tuple = (1, 2, 3, 2)
print(my_tuple)
print(my_tuple[1])

(1, 2, 3, 2)
2

In [ ]:
my_set = {10, 20, 30, 20}
print(my_set)         # {10, 20, 30} — duplicate removed

my_set.add(40)
my_set.remove(10)

{10, 20, 30}

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict["name"])     # Alice

my_dict["age"] = 26        # Update value
my_dict["country"] = "USA" # Add new key-value

Alice

In [ ]:
my_dict.keys()
my_dict.values()
my_dict.items()
my_dict.get("bindu")
print ("get")

get

In [ ]:
age = 20

if age >= 18:
    print("You are an adult.")

You are an adult.

In [ ]:
age = 15

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

In [ ]:
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

In [ ]:
age = 25
citizen = True

if age >= 18:
    if citizen:
        print("Eligible to vote")
    else:
        print("Not a citizen")
else:
    print("Too young to vote")

Eligible to vote

In [ ]:
is_logged_in = True

if is_logged_in:
    print("Welcome back!")
else:
    print("Please log in.")

Welcome back!

In [ ]:
x = 10
if x > 5: print("x is greater than 5")

x is greater than 5

In [ ]:
a = 20
b = 15
print("a is greater") if a > b else print("b is greater")

a is greater

In [ ]:
x = 10
y = 5

if x > 5 and y < 10:
    print("Both conditions are True")

Both conditions are True

DAY-2
LOOPS AND FUNCTIONS

In [ ]:
# Loop through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# Loop through a range of numbers
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [ ]:
def greet():
    print("Hello, welcome!")

In [ ]:
greet()

Hello, welcome!

In [ ]:
def greet(name):
    print("Hello", name)

greet("Alice")

Hello Alice

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

In [ ]:
def greet(name="Guest"):
    print("Hello", name)

greet()
greet("Ravi")

Hello Guest
Hello Ravi

In [ ]:
def total(*numbers):
    return sum(numbers)

print(total(1, 2, 3))
print(total(5, 10, 15, 20))

6
50

In [ ]:

square = lambda x: x * x
print(square(4))

16

COFFEE MACHINE PROGARAM

In [ ]:
MENU = {
    "espresso": {"water": 50, "milk": 0, "coffee": 18, "cost": 7.5},
    "latte": {"water": 200, "milk": 150, "coffee": 24, "cost": 2.5},
    "cappuccino": {"water": 250, "milk": 100, "coffee": 24, "cost": 3.0}
}

resources = {"water": 300, "milk": 200, "coffee": 100, "money": 0}

def report():
    for item in resources:
        unit = "ml" if item != "money" else "$"
        print(f"{item.title()}: {resources[item]}{unit}")

def check_resources(drink):
    for item in ["water", "milk", "coffee"]:
        if MENU[drink][item] > resources[item]:
            print(f"Sorry there is not enough {item}.")
            return False
    return True

def process_coins():
    print("Insert coins:")
    return round(
        int(input("Quarters: ")) * 0.25 +
        int(input("Dimes: ")) * 0.10 +
        int(input("Nickles: ")) * 0.05 +
        int(input("Pennies: ")) * 0.01, 2
    )

def make_coffee(drink):
    for item in ["water", "milk", "coffee"]:
        resources[item] -= MENU[drink][item]
    resources["money"] += MENU[drink]["cost"]
    print(f"Here is your {drink}. Enjoy!")

while True:
    choice = input("What would you like? (espresso/latte/cappuccino): ").lower()
    if choice == "off":
        break
    elif choice == "report":
        report()
    elif choice in MENU:
        if check_resources(choice):
            money = process_coins()
            cost = MENU[choice]["cost"]
            if money >= cost:
                change = round(money - cost, 2)
                if change > 0:
                    print(f"Here is ${change} in change.")
                make_coffee(choice)
            else:
                print("Sorry that's not enough money. Money refunded.")
    else:
        print("please choose espresso/latte/capppaccino")

Insert coins:
Here is $0.92 in change.
Here is your latte. Enjoy!

In [8]:
def recursion (n):
  if n == 1:
    return 1
  else:
      return n * recursion (n-1)

      print(recursion(5))

In [10]:
def recursion (n):
  if n==1:
    return 1
  else:
    return n * recursion(n-1)

    print(recursion(10))